@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main_content {
    background-color: antiquewhite;
    background-image: url('../public/backgroundImg.jpg');
    height: 100%;
    min-height: 100vh;
    max-height: 100%;
    padding: 20px 25px;
    background-repeat: no-repeat;
    background-size: cover;
}

.content_head {
    color: white;
    width: 90%;
    min-width: 90vw;
    max-width: 90%;
    margin: auto;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 0px 10px;
    font-family: 'Barlow', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.msg-exceed {
    width: 200px;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 22px;
    font-weight: bold;
    animation-name: blink;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: Infinite;
}

@keyframes blink {
    0% {
        color: red;
        font-weight: bold;
    }

    30% {
        color: red;
        font-weight: bold;
    }

    100% {
        color: black;
        font-weight: bold;
    }
}

.content_title {
    width: 500px;
    font-size: 42px;
    display: flex;
    justify-content: center;
    margin-left: 445px;
}

.total-expense {
    background-color: white;
    color: black;
    height: 64px;
    width: 200px;
    padding: 0px 8px;
    overflow: auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
    border: 2px solid;
    border-radius: 8px;
}

.content_body {
    height: 90%;
    min-height: 80vh;
    max-height: 90%;
    width: 95vw;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
}

.input_content {
    padding: 14px 20px;
    width: 20%;
    min-width: 20vw;
    max-width: 20%;
    display: grid;
    row-gap: 3px;
}

.card-head {
    padding: 10px;
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.card-headBudget {
    padding: 5px 10px;
    margin-bottom: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    height: 240px !important;
}

.card-body {
    display: grid;
    row-gap: 3px;
}

.card-title {
    padding: 2px 8px;
    font-size: 22px;
}

.inputContainer {
    padding: 3px 8px;
    display: grid;
    row-gap: 8px;
}

.inputExpense {
    padding: 0px 8px;

    &:hover {
        box-shadow: 0 0 6px;
    }
}

.inputExpenseAmt,
.inputBudgetAmt {
    padding-left: 8px;
    width: 180px;

    &:hover {
        box-shadow: 0 0 6px;
    }
}

.btn_add {
    padding: 4px 8px;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.add_btn:hover {
    cursor: pointer;
    box-shadow: 0 0 8px;
}

.btn_set:hover {
    cursor: pointer;
    box-shadow: 0 0 8px;
}

.btn_budget {
    padding: 4px 8px;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.notify_set {
    height: 20px;
    padding-left: 10px;
}

.expenseListContainer {
    height: 75vh;
    width: 80%;
    min-width: 60vw;
    max-width: 80%;
    display: flex;
    justify-content: center;
    overflow: auto;
    scroll-behavior: smooth;
    padding: 12px 0;
}

#expense-list {
    width: 95%;
    min-width: 60vw;
    max-width: 95%;
    list-style-type: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px 5px;
    justify-content: space-evenly;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}

.listContainer {
    height: 230px;
    width: 230px;
    overflow: auto;
    box-shadow: 0 0 8px;
}

.btnRemove {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    font-weight: bold;
}

.removeBtn:hover {
    cursor: pointer;
    box-shadow: 0 0 8px;
}

.content_foot {
    font-size: 20px;
    padding-top: 10px;
    animation-name: blink;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: Infinite;
}

.expenseName span,
.expenseAmount span {
    font-size: 25px;
}